<%- include('../partials/header') %>

<% if(user) { %>
<h2>Click "Details" To See Watch Review & Band Information</h2>

<table id="list">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Style</th>
        <th>Movement</th>
        <th>Case Material</th>
        <th>Dial Color</th>
        <th>Gender</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% watches.forEach(function(w) { %>
        <tr>
          <td><%= w.brand %></td>
          <td><%= w.style %></td>
          <td><%= w.movement %></td>
          <td><%= w.caseMaterial %></td>
          <td><%= w.dialColor %></td>
          <td><%= w.gender %></td>

          <td><a href="/watches/<%= w._id %>">DETAILS</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <% } %>
  
<%- include('../partials/footer') %>